* {
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-color:aqua;
}

@import "class/logo.scss";
@import "class/conteiner.scss";
@import "class/section.scss";
@import "class/header.scss";
@import "class/menu.scss";
@import "class/preview+text.scss";
@import "class/actions.scss";
@import "class/section-header.scss";
@import "class/text2";
@import "class/part4.scss";
@import "class/cards.scss";








